<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is a Test</title>
</head>
<style>
    main{
    
        width: 100%;
        height: 50vh;
        background-color: blanchedalmond;
        text-align: center;
        margin: auto;
    }

    h1{
        color: brown;
        

    }
</style>
<body>
    <main>
        <h1>
            Battlebots are awesome!
        </h1>
    </main>
    
</body>
</html>


<!-- git init
git add README.md
git commit -m "first commit"
git remote add origin https://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@github.com/Ardiy0011/understanging_djangoupload.git
git push -u origin main


git remote add origin https://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@github.com/Ardiy0011/understanging_djangoupload.git
git branch -M main
git push -u origin main -->